# Markdown Basics 
* **Bold**
* *Itallic*
* *Normal Text*
    * Sublist
    * Sublist2
    
    
> 1. Ordered list element 1
> 2. Ordered list element 2


<https://google.com>


<markdown@google.com>
- []option 1
- []option 2
- []option 3

[Jupyter Logo](jupyter[1].jpg)

![Jupyter Logo](jupyter[1].jpg)

<img src="jupyter[1].jpg" style="float:left">

# Python Basics
* **jupyter**
* *Markdown*
* *Text*
    * Markdown
    * Code
    
    
1.Program 1
2.Program 2


[Python logo](jupyter[1].jpg)

# Python basics
 **Python version 3.7**
 
 - scripting
 - object oriented
 -

In [6]:
# python comments

print("Good afternoon", "!",end="||") # Basic output
print("Hello Python")

Good afternoon !||Hello Python

### Assignment

In [11]:
n1 = 123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi Variable Assignment of the 

a, b, c = 123, 234, 345 # Multi Variable 

print(a, b, c)

123 234 345

### Data Types
- int
- float
- string

In [38]:

type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

int(f1)
float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [30]:
n1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82

len(str(atoms))
atoms

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Conditionls

In [41]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FLASE")

FLASE